*.meta
*.cd
*.us
Library\PackageCache\*
/Library/

Library/PackageCache
/Library/PackageCache

Library/PackageCache/
/Library/PackageCache/

Library/PackageCache/*
/Library/PackageCache/*

\Library\PackageCache\
\Library\PackageCache\*